@import '../../Common/Styles/styles';

.faircv-list {
  align-self: flex-start;
  text-align: left;
  justify-content: flex-start;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0;
    flex-wrap: wrap;

    h1 {
      margin-right: 40px;
      margin-bottom: 16px;
    }

    .btn {
      margin-bottom: 16px;
    }
  }

  &__search {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__search-input {
    flex: 0 1 500px;
    margin-bottom: 0;
    margin-right: $size-s;
  }

  .pagination {
    margin-top: 32px;
  }

  @media screen and (max-width: $phablet) {
    &__title {
      h1 {
        @include titleH3();
        order: 2;
        margin-bottom: 0;
      }

      .btn {
        order: 1;
        width: 100%;
        margin-bottom: 32px;
      }
    }
  }
}

.list {
  &__item {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 24px;
    border-bottom: 1px solid $color-dark-gray;
    padding-bottom: 8px;

    &:first-child {
      margin-top: 0;
    }

    .btn {
      margin-bottom: 4px;
    }
  }

  &__item-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  &__item-name {
    width: 100%;
    @include titleH4();
    margin-bottom: 8px;
  }

  &__item-degree {
    margin-right: 28px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 4px;
    @include normalString();
  }

  &__item-document {
    margin-right: 28px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 4px;
    @include normalString();
  }

  @media screen and (max-width: $phablet) {
    &__item {
      flex-wrap: wrap;
      padding-bottom: 12px;

      .btn {
        margin-top: 8px;
      }
    }
  }
}
