.dark-theme {
  color: $color-white;//

  a {
    color: $color-white;//
  }

  //sidebar

  .sidebar {
    color: #fff;
    background: $color-dark-blue;//
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);

    .sidebar__link {
      &.active {
        color: $color-emerald-2;
      }

      &:hover {
        color: $color-emerald-2;
      }
    }

    .switcher {
      background-color: $color-emerald-2;
      .switcher__indicator {
        background-color: $color-white;
        left: 18px;
      }
    }
  }

  .sidebar__mainMenu {
    color: $color-white;
  }

  .sidebar-col-sticker {
    background-color: $color-rose;//
  }

  //common

  .main {
    background-color: $color-dark-blue-2;//
  }

  .link {
    color: $color-black;
  }


  .btn {

    &--arrow {
      color: $color-emerald-2;

      &:hover {
        color: $color-emerald-4;
      }
    }

    &--back {
      color: $color-emerald-2;

      &:hover {
        color: $color-emerald-4;
      }

    }

    &--empty {
      color: $color-black;
      background-color: $color-white;
      border: 1px solid currentColor;
    }

    &--filled {
      color: $color-dark-blue-2;
      background-color: $color-emerald-2;//
      border: 1px solid $color-emerald-2;//

      &:hover {
        background-color: $color-emerald-4;//
        border-color: $color-emerald-4;//
      }
    }

    &--orange {
      color: $color-black;
      background-color: $color-light-blue;
      border: 1px solid $color-light-blue;
    }

    &--empty-main-color {
      color: $color-emerald-2;//
      background-color: transparent;//
      border: 1px solid currentColor;//

      &:hover {
        color: $color-emerald-4;//
      }
    }
  }

  .sticker {
    background-color: $color-light-blue;//
    border: 1px solid $color-light-blue;//
    color: $color-black;//
  }

  .state--enrolled {
    background-color: $color-emerald-2;//
    border: 1px solid $color-emerald-2;//
    color: $color-dark-blue-2;
  }

  .status--bad {
    background-color: $color-dark-red;//
  }

  .status--good {
    background-color: $color-emerald-3;//
  }

  .status--normal {
    background-color: $color-light-blue-3;
  }

  .grade__status--submitted {
    &:after {
      border-right: 2px solid $color-white;
      border-bottom: 2px solid $color-white;
    }
  }

  //header

  .header {
    background-color: $color-dark-blue;//
    color: $color-white;//
  }

  .uniqAddress__title {
    color: $color-light-blue-2;//
  }

  .uniqAddress {
    .copyBlock__copy {
      color: $color-emerald-2;

      &:before {
        background-image: url("../img/copy-emerald.png");
      }
    }

    .copyBlock__address {
      color: $color-white;//
    }
  }

  //user

  .usersBlock__user {
    background-color: $color-dark-blue;//
    border: 1px solid $color-dark-blue;//
  }

  .blockTitle {
    color: $color-light-blue; //
  }

  .btn--simple {
    color: $color-emerald-2;//
    transition: color $transition;

    &:hover {
      color: $color-emerald-4;//
    }
  }

  .grade__input {
    border: 0;//
    background-color: $color-dark-blue-3;//
    color: $color-light-blue;
  }

  .person__card {
    &:after {
      color: $color-white;
      background-color: $color-rose;//
    }
  }

  //row-table

  .row__contentName--small {
    .row__contentLink {
      color: $color-blue;
    }
  }

  .pseudoTableRows__row {
    border-bottom: 1px solid $color-dark-blue;//
  }

  .assignments {
    color: $color-gray;
  }

  .row-content_delete {
    color: $color-rose;//

    &:before {
      color: $color-rose;//
    }
  }

  .row-content_process--completed {
    color: $color-light-blue;//
  }

  //input-block

  .inputBlock {
    .formBlock__inputText {
      background-color: $color-dark-blue-3;//
      color: $color-white;
      ::-webkit-input-placeholder {color:$color-light-blue}
      ::-moz-placeholder          {color:$color-light-blue}/* Firefox 19+ */
      :-moz-placeholder           {color:$color-light-blue}/* Firefox 18- */
      :-ms-input-placeholder      {color:$color-light-blue}
    }

    .inputBlock__prompt {
      background-color: $color-gray-2;
      &:before {
        background-color: $color-blue-3;
        background-image: url("../img/inform.png");
      }
    }

    .ui-checkboxradio-label {
      color: $color-light-blue;//
      .ui-checkboxradio-icon {
        background-color: $color-emerald;
      }

      .ui-state-checked {
        &:before {
          border-right: 2px solid $color-white;
          border-bottom: 2px solid $color-white;
        }
      }
    }
  }

  //tasks

  .task_description_link {
    color: $color-blue;
  }

  .task_description {
    border-bottom: 1px solid $color-gray;
  }

  .task_description_assign {
    color: $color-white;
  }

  .task_description_assign .icon {
    background-color: $color-white;
  }

  .task_description_assign--ok {
    background-color: $color-green;
  }

  .task_description_assign--warn {
    background-color: $color-orange;
  }

  .task_description_assign--err {
    background-color: $color-red;
  }

  .task_description_assign--submitted {
    background-color: $color-light-gray;
    color: $color-black;
  }

  //tabs

  .ui-tabs.ui-widget {
    .ui-state-active {
      border: 2px solid $color-emerald-2;//
    }
  }

  //cards

  .card {
    border: 1px solid $color-dark-blue;//
    background-color: $color-dark-blue;//

    &:after {
      color: $color-white;
      background-color: $color-rose;
    }

    @media screen and (max-width: 1024px) {
      &:after {
        background-color: $color-rose;//
      }
    }
  }

  //transactions

  .transaction {
    &::before {
      background-color: $color-blue-3;
    }
  }

  .date__title {
    &::before {
      background-color: $color-blue-3;
    }
  }

  .transaction__idBlock {
    &::before {
      background-color: $color-blue-3;
      border: 7px solid $color-dark-blue-2;//
    }
  }


}