@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src:
    font-url('helveticaCyr/HelveticaNeue-Bold-Italic.woff') format('woff')
    font-url('helveticaCyr/HelveticaNeue-Bold-Italic.woff2') format('woff2')
    font-url('helveticaCyr/HelveticaNeue-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src:
    font-url('helveticaCyr/HelveticaNeue-Bold.woff') format('woff')
    font-url('helveticaCyr/HelveticaNeue-Bold.woff2') format('woff2')
    font-url('helveticaCyr/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src:
    font-url('helveticaCyr/HelveticaNeue-Medium.woff') format('woff')
    font-url('helveticaCyr/HelveticaNeue-Medium.woff2') format('woff2')
    font-url('helveticaCyr/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src:
    font-url('helveticaCyr/HelveticaNeue-Medium-Italic.woff') format('woff')
    font-url('helveticaCyr/HelveticaNeue-Medium-Italic.woff2') format('woff2')
    font-url('helveticaCyr/HelveticaNeue-Medium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src:
    font-url('helveticaCyr/HelveticaNeue-Regular-Italic.woff') format('woff')
    font-url('helveticaCyr/HelveticaNeue-Regular-Italic.woff2') format('woff2')
    font-url('helveticaCyr/HelveticaNeue-Regular-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src:
    font-url('helveticaCyr/HelveticaNeue-Regular.woff') format('woff')
    font-url('helveticaCyr/HelveticaNeue-Regular.woff2') format('woff2')
    font-url('helveticaCyr/HelveticaNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src:
    font-url('helveticaCyr/HelveticaNeue-Light-Italic.woff') format('woff')
    font-url('helveticaCyr/HelveticaNeue-Light-Italic.woff2') format('woff2')
    font-url('helveticaCyr/HelveticaNeue-Light-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src:
    font-url('helveticaCyr/HelveticaNeue-Light.woff') format('woff')
    font-url('helveticaCyr/HelveticaNeue-Light.woff2') format('woff2')
    font-url('helveticaCyr/HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
