//Font
$font-family: 'Conv_HelveticaNeueCyr', 'Helvetica Neue LT W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$color-white : #fff;
$color-black : #000;
$color-blue : #002590;
$color-blue-2 : #002590;
$color-blue-3 : #05CEC7;

$color-bg : #AEAEAE;
$color-gray-text : #787878;
$color-gray : #8B8B8B;
$color-gray-2 : #ECECEC;
$color-gray-3 : #D8D8D8;
$color-dark-gray: #979797;
$color-light-gray : #E1E1E1;
$color-light-gray-2 : #F8f8F8;

$color-orange : #FF7A00;
$color-light-orange : #E7BB6B;
$color-emerald : #009688;
$color-light-emerald : #A4EFE1;
$color-green : #3BDA00;
$color-light-green : #9DE76B;
$color-red : #FF5760;
$color-light-red :#E76B6B;

$linear-gradient : linear-gradient($color-blue-2, $color-blue-3);
$linear-gradient-horizon : linear-gradient(90deg, $color-blue-2, $color-blue-3);
$shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
$transition: 0.3s ease-in-out;

$color-dark-blue: #262B49;
$color-dark-blue-2: #1C2238;
$color-dark-blue-3: #38415B;
$color-dark-blue-3: #333A63;
$color-light-blue: #B9D0FF;
$color-light-blue-2: #B9D0FF;
$color-light-blue-3: #7496DA;


$color-emerald-2: #2BCDA6;
$color-emerald-3: #3AA479;
$color-emerald-4: #289278;
$color-dark-red: #C54674;
$color-rose: #FF2D78;

//Shadows

$shadow-white: 0 2px 2px rgba(255, 255, 255, 0.25);

//Viewports
$wide-desktop: 1440px;
$desktop: 1280px;
$tablet: 1024px;
$phablet: 768px;
$mobile: 480px;
$small-mobile: 320px;

//Containers
$max-width: 1440px;

// Sizes
$size-xxl: 80px;
$size-xx: 64px;
$size-xl: 40px;
$size-l: 32px;
$size-m: 24px;
$size-s: 16px;
$size-xs: 8px;
$size-xxs: 4px;

//border-radius
$border-radius: 5px;
