@import '../../Common/Styles/mixins';
@import '../../Common/Styles/variables';


.add-form {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  &__title {
    text-align: left;
    margin: 24px 32px 24px 0;
    @include customTitle(36px, 42px);
  }

  form {
    margin-bottom: $size-l;
  }

  .navigation-link {
    margin-top: 24px;
  }

  &__navigation-link + .add-form__title {
    margin-top: 16px;
  }

  @media screen and (max-width: $mobile) {
    &__title {
      @include customTitle(24px, 28px);
    }
  }

  .input-sudent {
    width: 100%;
    max-width: 904px;
  }

  .input-education-start,
  .input-education-end {
    width: 100%;
    max-width: 130px;

    input {
      width: 104px;
      box-sizing: border-box;
    }

    &:after {
      right: 38px;
    }
  }

  .input-education-end {
    &:before {
      content: '';
      display: block;
      width: 14px;
      height: 2px;
      background-color: $color-black;
      position: absolute;
      left: -37px;
      top: 40px;
    }
  }

  .input-number {
    width: 100%;
    max-width: 384px;
  }

  .input-rank {
    width: 100%;
    max-width: 608px;
  }

  .reminder {
    margin-top: auto;
  }
}

.input-container {
  margin-bottom: 48px;

  &__title {
    @include customTitle(24px, 28px);
    margin: 0 0 16px;
  }
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .input,
  .dropdown-input {
    margin-right: $size-l;

    &:last-child {
      margin-right: 0;
    }
  }
}

.input {
  margin-bottom: $size-m;
}

.data-input {
  display: inline-block;
  padding-right: 30px;

  &__label {
    display: block;
    @include largerString();
    margin-bottom: $size-xs;
  }

  .react-datepicker-wrapper {
    position: relative;

    input {
      display: block;
      border: 0;
      background-color: $color-gray-2;
      border-radius: $border-radius;
      @include largerString();
      padding: 7px 8px 9px;
    }

    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 17px;
      background-image: url('../../Common/Assets/icons/calendar-icon.svg');
      position: absolute;
      right: -28px;
      top: 8px;
      cursor: pointer;
    }
  }
}
