// @import './Common/Styles/styles';

.App {
  text-align: center;
  min-width: 320px;
}

.main {
  min-height: calc(100vh - 84px);
  display: flex;
  align-items: center;
  justify-content: center;
}
