@import './Common/Styles/styles';

.App {
  min-width: 320px;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
