@import '../../../Common/Styles/mixins';
@import '../../../Common/Styles/variables';

.reminder {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  background-color: $color-light-gray-2;
  padding-top: 8px;
  padding-bottom: 8px;

  &__text {
    width: 480px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: $color-gray-2;
    border-radius: $border-radius;
    overflow: hidden;
    margin-right: $size-m;
    min-height: 70px;
    @include normalString($color-gray-text);

    p {
      padding: 16px;
    }

    span {
      background-color: $color-blue-3;
      flex: 0 0 70px;
      color: $color-white;
      padding: 11px;
      box-sizing: border-box;
      position: relative;
      transition: background-color $transition;

      &:before {
        content: 'i';
        font-size: 34px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        text-align: center;
        border: 2px solid $color-white;
      }
    }

    &--error {
      span {
        background-color: $color-rose;
      }
    }
  }

  @media screen and (max-width: $phablet) {
    .container {
      flex-direction: column;
    }
    padding-top: 16px;
    padding-bottom: 16px;

    &__text {
      margin-bottom: 16px;
      width: 100%;
      max-width: none;
      margin-right: 0;
    }
  }
}
